// Screen Size
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

// Colors
$bg: rgba(246, 246, 246, 1);
$white: rgba(255, 255, 255, 1);
$grey: rgba(200, 200, 200, 1);
$deep-grey: rgba(170, 170, 170, 1);
$blue: rgba(35, 50, 80, 1);