$deep-blue: #2563eb;
$regular-blue: #3b82f6;
$light-blue: #93c5fd;
$deep-orange: #ea580c;
$light-orange: #fdba74;
$deep-red: #dc2626;
$light-red: #fca5a5;
$black: #020617;
$grey: #d4d4d4;
$white: #f8fafc;

$layout-nav-index: 5;
