$deep-blue: #2563eb;
$regular-blue: #3b82f6;
$light-blue: #93c5fd;
$deep-orange: #ea580c;
$light-orange: #fdba74;
$deep-red: #dc2626;
$light-red: #fca5a5;
$deep-green: #047857;
$light-green: #34d399;
$black: #020617;
$deep-grey: #404040;
$grey: #d4d4d4;
$white: #e8e8e8;

$layout-notification-index: 6;
$layout-nav-index: 5;
$layout-loading-index: 4;
